.about-service {
  min-height: 352px;
  background-color: @page-color;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 33px;
  outline: 1px solid red;
}

.about-service__title {
  font-family: @font, @font-secondary;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @dark-orange;
  margin-left: 50px;
}

.about-service__text {
  width: 208px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: @white;
  margin-left: 50px;
}

.about-service__text--bold {
  font-weight: bold;
}

.about-service__image {
  display: none;
}

@media (min-width: @tablet-width) {
  .about-service {
    min-height: 920px;
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  .about-service__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 688px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .about-service {
    min-height: 840px;
  }

  .about-service__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 609px;
  }
}
