.about-service {
  position: relative;
  width: 100%;
  background-color: @page-color;
  border-radius: 0 0 30px 30px;
  z-index: 5;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 70px;
  //   display: block;
  //   width: 113px;
  //   height: 132px;
  //   border-radius: 10px;
  //   background-color: @dark-blue;
  //
  // }
}

.about-service__square {
  position: absolute;
  top: 2px;
  left: 0;
  width: 113px;
  height: 132px;
  border-radius: 10px;
  background-color: @dark-blue;
  z-index: -1;
}

.about-service__wrapper {
  width: @mobile-width;
  min-height: 322px;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 33px;
  margin: 0 auto;

  @media (min-resolution: @retina) {
    background-image: url("../img/about-mobile@2x.png");
    background-size: 292px 352px;
  }
}

.about-service__text-wrapper {
  margin-left: 50px;
}

.about-service__title {
  font-family: @font, @font-secondary;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @dark-orange;
  margin-top: 0;
}

.about-service__text {
  width: 210px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: @white;
}

.about-service__text--bold {
  font-weight: bold;
}

.about-service__image {
  display: none;
}

.about-service .about-service__button {
  display: none;
}

@media (min-width: @tablet-width) {
  .about-service {
    min-height: 920px;
  }

  .about-service__square {
    width: 688px;
    height: 213px;
    top: 236px;
    left: 40px;
    border-radius: 20px;
    background-color: #141b3b;
  }

  .about-service__wrapper {
    width: @tablet-width;
    display: flex;
    background-image: none;
    outline: 1px solid red;
  }

  .about-service__image {
    display: block;
    margin-top: 254px;
    width: 376px;
    height: 548px;
  }

  .about-service__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 688px;
    margin-top: 243px;
    margin-left: 75px;
  }

  .about-service .about-service__button {
    display: flex;
    width: 206px;
    height: 20px;
    font-size: 24px;
    line-height: 24px;
    padding: 30px 34px;
    margin-top: 53px;
    border-radius: 20px;
  }

  .about-service__title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 0;
  }

  .about-service__text {
    width: 300px;
    font-size: 28px;
    line-height: 33px;
    margin-top: 43px;
    margin-bottom: 0;
  }

  .about-service__text--bold {
    font-size: 21px;
    line-height: 25px;
    margin-top: 38px;
  }
}

@media (min-width: @desktop-width) {
  .about-service {
    min-height: 840px;
    padding: 0;
  }

  .about-service__square {
    width: 213px;
    top: 175px;
    left: 60px;
  }

  .about-service__wrapper {
    width: @desktop-width;
  }

  .about-service__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 609px;
    margin-left: 133px;
  }

  .about-service__image {
    width: 630px;
    height: 665px;
    margin-top: 175px;
    margin-left: 10px;
  }

  .about-service__text {
    width: 620px;
    margin-top: 61px;
  }

  .about-service__text--bold {
    width: 410px;
    margin-top: 44px;
  }

  .about-service .about-service__button {
    margin-top: 86px;
  }
}
