.add-plan {
  border-radius: 30px 30px 0 0;
  background-color: #d4d9eb;
  margin-top: -30px;
  padding-top: 10px;
  padding-bottom: 84px;
}

.add-plan__centr-wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.add-plan__title {
  display: flex;
  align-items: center;
  font-family: @font, @font-secondary;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: #1d2e5b;
  margin-left: 25px;
}

.add-plan__dots {
  display: block;
  width: 6px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(128, 130, 133, 0.3);
  margin-right: 15px;
  margin-top: 4px;
}

.add-plan__dots:first-child {
  margin-left: 38px;
}

.add-plan__dots--dark {
  background-color: #1d2e5b;
}

.add-plan__wrapper {
  position: relative;
  width: 270px;
  min-height: 795px;
  background-color: @white;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 30px;
}

.add-plan__wrapper:nth-child(4)::before {
  position: absolute;
  top: 196px;
  left: 11px;
  content: "";
  display: block;
  width: 15px;
  height: 279px;
  background-color: transparent;
  border: 2px solid #1d2e5b;
  border-right: none;
}

.add-plan__wrapper:nth-child(3) {
  min-height: 517px;
  margin-top: -10px;
}

.add-plan__wrapper:nth-child(4) {
  min-height: 839px;
  margin-top: -10px;
}

.add-plan__text {
  width: 215px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #444444;
  margin-left: 25px;
}

.add-plan__plans-list {
  display: none;
}

.add-plan__description-text {
  margin-top: -4px;
}

.add-plan__first-break {
  display: none;
}

.add-plan__text--bold {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #1d2e5b;
  padding-top: 22px;
}

.add-plan__conditions-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.add-plan__conditions-label {
  .add-plan__text();
  display: flex;
  justify-content: space-between;
  width: 220px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.6px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.add-plan__conditions-label--opacity {
  color: rgba(29, 46, 91, 0.3);
}

.add-plan__conditions {
  box-sizing: border-box;
  width: 220px;
  height: 43px;
  border-radius: 4px;
  border: 1px solid #cbced9;
  margin-left: 25px;
  font-family: @font, @font-secondary;
  font-size: 15px;
  font-weight: 500;
  line-height: 13.5px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #1d2e5b;
  margin-top: 9px;
  margin-bottom: 21px;
}

.add-plan__children {
  display: none;
}

.add-plan__children-label {
  .add-plan__text();
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 15px;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #cbced9;
    border-radius: 4px;
    margin-right: 13px;
  }
}

.add-plan__children:checked + .add-plan__children-label::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-position: center;
}

.add-plan__quantity {
  position: absolute;
  top: 40px;
  left: 39px;
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
  background-image: url("../img/qty-minus-mobile.svg");
  background-repeat: no-repeat;
  background-size: 14px 2px;
  background-position: center;
  opacity: 0.3;
  cursor: pointer;
}

.add-plan__quantity--plus {
  left: 217px;
  background-image: url("../img/qty-plus-mobile.svg");
  background-size: 14px 14px;
}

.add-plan__duration-quantity {
  top: 130px;
}

.add-plan__button {
  box-sizing: border-box;
  width: 230px;
  height: 40px;
  font-size: 17px;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 0;
  padding-left: 45px;
  margin-top: 23px;
  margin-left: 20px;
  margin-bottom: 0;

  &::after {
    display: none;
  }
}

.add-plan__back-button {
  display: block;
  width: 130px;
  background-color: transparent;
  font-family: @font, @font-secondary;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: @dark-blue;
  text-transform: uppercase;
  margin-top: 12px;
  margin-left: 68px;
}

.add-plan__submit {
  border: none;
  padding-left: 70px;
  margin-top: 17px;
}

.add-plan__country-wrapper {
  display: flex;
  margin-bottom: 22px;
}

.add-plan__country-select {
  box-sizing: border-box;
  width: 168px;
  margin-left: 25px;
  font-family: @font, @font-secondary;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-align: left;
  color: #1d2e5b;
  text-transform: uppercase;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding-left: 12px;
}

.add-plan__flag {
  box-sizing: border-box;
  width: 53px;
  height: 42px;
  border-radius: 4px;
  border: solid 1px #cbced9;
  background-repeat: no-repeat;
  background-size: 35px 24px;
  background-position: center;
  margin-left: -1px;
}

.add-plan__bosnia {
  background-image: url("../img/flag-bosnia.svg");
}

.add-plan__czech {
  background-image: url("../img/flag-czech.svg");
}

.add-plan__add-country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: none;
  width: 220px;
  height: 42px;
  font-family: @font, @font-secondary;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-align: left;
  color: #1d2e5b;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #edeff6;
  padding-left: 12px;
  margin-left: 25px;

  &::before {
    box-sizing: border-box;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: solid 1px #cbced9;
    border-radius: 50%;
    order: 1;
    margin-right: 3px;
  }

  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../img/qty-plus-mobile.svg");
    opacity: 0.3;
    margin-right: 8px;
    order: 2;
  }
}

.add-plan__choose-country {
  background-color: @white;
  border: 1px solid #cbced9;
  border-radius: 4px;
  margin-bottom: 22px;

  &::after {
    width: 12px;
    height: 7px;
    background-image: url("../img/dropdown-form.svg");
    background-repeat: no-repeat;
    background-size: 12px 8px;
    opacity: 1;
  }
}

.add-plan__choose-country--opened {
  background-color: #1d2e5b;
  color: @white;
  border-radius: 4px 4px 0 0;

  &::before {
    display: none;
  }

  &::after {
    width: 9px;
    height: 9px;
    background-image: url("../img/small-cross-white.svg");
    background-repeat: no-repeat;
    background-size: 9px 9px;
    opacity: 1;
  }
}

.add-plan__textarea-wrapper {
  position: relative;
  margin-top: 22px;
}

.add-plan__title-text {
  display: flex;
  align-items: center;
  width: 220px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #1d2e5b;
  margin-left: 22px;

  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #1d2e5b;
    border-radius: 50%;
    margin-right: 8px;
  }

  &::after {
    position: absolute;
    top: -2px;
    right: 25px;
    content: "";
    display: block;
    width: 35px;
    height: 24px;
    background-image: url("../img/flag-bosnia.svg");
    background-repeat: no-repeat;
    background-size: 35px 24px;
    background-position: right center;
  }
}

.add-plan__title-czech::after {
  background-image: url("../img/flag-czech.svg");
}

.add-plan__cover {
  position: absolute;
  top: -6px;
  right: 60px;
  width: 49px;
  height: 36px;
  background-image: linear-gradient(to right, transparent 0%, #ffffff 38%);
}

.add-plan__select-cover {
  background-image: linear-gradient(to right, transparent 0%, #ffffff 40%);
  top: 163px;
  left: 143px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 15px;
    background-image: url("../img/dropdown-form.svg");
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: right center;
    margin-top: 11px;
    margin-left: 18px;
  }
}

.add-plan__czech-cover {
  top: 227px;
}

.add-plan__textarea {
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #444444;
  margin-left: 25px;
  margin-top: 17px;
  resize: none;
  border-color: #cbced9;
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 17px;
}

.add-plan__textarea::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.add-plan__choose-wrapper {
  display: flex;
}

.add-plan__close-button {
  border: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #edeff6;
  margin-left: -11px;
  margin-top: -10px;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-image: url("../img/small-cross.svg");
    background-size: 9px 9px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
  }
}

.add-plan__circle {
  position: absolute;
  top: 177px;
  right: 74px;
  width: 8px;
  height: 8px;
  background-color: #1d2e5b;
  border-radius: 50%;
}

.add-plan__arrow {
  position: absolute;
  top: 208px;
  right: 75px;
  width: 5px;
  height: 10px;
  background-image: url("../img/small-arrow.svg");
  opacity: 0.3;
}

.add-plan__circle--czech {
  top: 240px;
}

.add-plan__arrow--czech {
  top: 271px;
}

.add-plan__arrow--choose {
  top: 336px;
}

.add-plan__drop-menu {
  position: absolute;
  display: none;
  top: 351px;
  left: 25px;
  box-sizing: border-box;
  width: 220px;
  height: 476px;
  border: 1px solid #cbced9;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  background-color: @white;
  z-index: 1;
}

.add-plan__drop-menu--opened {
  display: block;
}

.add-plan__letters {
  display: flex;
  flex-wrap: wrap;
}

.add-plan__letter {
  border: none;
  width: 44px;
  height: 41px;
  font-family: @font, @font-secondary;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #1d2e5b;
  background-color: @white;
  border-right: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;

  &--active {
    background-color: #edeff6;
  }
}

.add-plan__letter:nth-child(5n) {
  border-right: none;
}

.add-plan__letter:nth-child(5n+2),
.add-plan__letter:nth-child(5n-1) {
  width: 43px;
}

.add-plan__list-country {
  margin-top: 55px;
  margin-left: 20px;
}

.add-plan__country {
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .add-plan {
    padding-top: 16px;
    padding-bottom: 53px;
  }

  .add-plan__centr-wrapper {
    width: @tablet-width;
  }

  .add-plan__title {
    font-size: 36px;
    line-height: 50px;
    margin-left: 75px;
  }

  .add-plan__dots {
    width: 5px;
    margin-right: 29px;
    margin-top: 4px;
  }

  .add-plan__dots:first-child {
    margin-left: 296px;
  }

  .add-plan__wrapper {
    position: relative;
    width: 618px;
    border-radius: 30px;
    margin-left: 75px;
    margin-top: 52px;
    margin-bottom: 50px;
    padding-bottom: 52px;
  }

  .add-plan__wrapper:nth-child(2) {
    padding-bottom: 55px;
  }

  .add-plan__wrapper:nth-child(3) {
    box-sizing: border-box;
    min-height: 784px;
    margin-bottom: 61px;
  }

  .add-plan__wrapper:nth-child(3)::before {
    position: absolute;
    top: 230px;
    left: 43px;
    content: "";
    display: block;
    width: 529px;
    height: 1px;
    background-color: #d6d9e6;
  }

  .add-plan__text {
    width: 500px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 43px;
  }

  .add-plan__wrapper:nth-child(3) .add-plan__description-text {
    margin-top: -1px;
    margin-bottom: 77px;
  }

  .add-plan__description-break {
    display: none;
  }

  .add-plan__first-break {
    display: inline;
  }

  .add-plan__text--bold {
    font-size: 36px;
    line-height: 36px;
    padding-top: 45px;
  }

  .add-plan__conditions-wrapper {
    margin-top: 40px;
  }

  .add-plan__conditions-label {
    .add-plan__text();
    width: 531px;
    line-height: 18px;
    letter-spacing: 2px;
    border-top: 1px solid #d6d9e6;
    padding-top: 22px;
  }

  .add-plan__conditions-label--order {
    order: 4;
  }

  .add-plan__conditions {
    width: 531px;
    height: 70px;
    margin-left: 44px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    margin-top: 27px;
    margin-bottom: 25px;
  }

  .add-plan__conditions--order {
    order: 5;
  }

  .add-plan__children-label {
    .add-plan__text();
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    color: #1d2e5b;
    text-transform: uppercase;
    order: 3;
    margin-bottom: 26px;

    &::before {
      box-sizing: border-box;
      width: 36px;
      height: 36px;
      margin-right: 23px;
    }
  }

  .add-plan__children:checked + .add-plan__children-label::before {
    background-size: 12px 12px;
  }

  .add-plan__quantity {
    top: 93px;
    left: 67px;
    width: 20px;
    height: 20px;
    background-image: url("../img/qty-minus.svg");
    background-size: 20px 2px;
  }

  .add-plan__quantity--plus {
    left: 535px;
    background-image: url("../img/qty-plus.svg");
    background-size: 20px 20px;
  }

  .add-plan__duration-quantity {
    top: 318px;
  }

  .add-plan__button {
    width: 285px;
    height: 81px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    padding: 0 34px;
    margin-top: 48px;
    margin-left: 44px;

    &::after {
      display: block;
    }
  }

  .add-plan__country-wrapper,
  .add-plan__choose-wrapper {
    justify-content: space-between;
    align-items: center;
    width: 533px;
    margin-left: 43px;
    margin-bottom: 15px;
  }

  .add-plan__country-wrapper:nth-child(2)::after {
    position: absolute;
    top: 230px;
    left: 440px;
    content: "";
    display: block;
    width: 1px;
    height: 420px;
    background-color: #d6d9e6;
    box-shadow: inset 0 -40px 60px -30px white;
  }

  .add-plan__country-select {
    width: 369px;
    height: 70px;
    font-size: 20px;
    margin: 0;
    letter-spacing: 2px;
    padding-left: 27px;
  }

  .add-plan__flag {
    width: 70px;
    height: 47px;
    border: none;
    background-size: 70px 47px;
    margin-left: 53px;
  }

  .add-plan__close-button {
    width: 17px;
    height: 17px;
    border-radius: 0;
    background-color: @white;
    padding: 0;
    margin: 0;
    margin-left: 24px;

    &::after {
      width: 17px;
      height: 17px;
      background-size: 17px 17px;
      opacity: 0.1;
    }
  }

  .add-plan__add-country {
    width: 369px;
    height: 70px;
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 26px;
    margin-left: 43px;

    &::before {
      display: none;
    }

    &::after {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }

  .add-plan__choose-country {
    margin: 0;

    &::after {
      width: 17px;
      height: 9px;
      background-size: 17px 9px;
    }
  }

  .add-plan__choose-country--opened::after {
    width: 17px;
    height: 17px;
    background-size: 17px 17px;
  }

  .add-plan__select-cover {
    top: 294px;
    left: 347px;

    &::before {
      background-size: 17px 9px;
    }
  }

  .add-plan__czech-cover {
    top: 379px;
  }

  .add-plan__circle {
    top: 305px;
    right: 170px;
    width: 15px;
    height: 15px;
  }

  .add-plan__arrow {
    display: none;
  }

  .add-plan__circle--czech {
    top: 388px;
  }

  .add-plan__circle--choose {
    box-sizing: border-box;
    top: 470px;
    background-color: @white;
    border: 1px solid #cbced9;
  }

  .add-plan__circle--add {
    box-sizing: border-box;
    top: 560px;
    background-color: #edeff6;
    border: 1px solid #cbced9;
  }

  .add-plan__back-button {
    display: flex;
    align-items: center;
    width: 182px;
    font-size: 24px;
    line-height: 24px;
    color: #1d2e5b;
    text-transform: none;
    margin-top: 45px;
    margin-left: 69px;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 14px;
      background-image: url("../img/triangle-arrow-left.svg");
      margin-right: 24px;
    }
  }

  .add-plan__buttons-wrapper {
    display: flex;
    align-items: center;
  }

  .add-plan__title-text {
    justify-content: space-between;
    width: 527px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 45px;

    &::before {
      width: 15px;
      height: 15px;
      margin-left: 80px;
      order: 1;
    }

    &::after {
      position: static;
      width: 70px;
      height: 47px;
      background-size: 70px 47px;
      order: 2;
    }
  }

  .add-plan__wrapper:nth-child(4) .add-plan__cover {
    display: none;
  }

  .add-plan__title-czech::before {
    margin-left: 310px;
  }

  .add-plan__textarea {
    width: 527px;
    height: 142px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 45px;
    margin-top: 30px;
    padding-left: 19px;
    padding-top: 15px;
    padding-right: 100px;
  }

  .add-plan__wrapper:nth-child(4)::before {
    display: none;
  }

  .add-plan__textarea-wrapper {
    margin-top: 63px;
  }

  .add-plan__textarea-wrapper:nth-child(3) {
    margin-top: 38px;
  }

  .add-plan__submit {
    margin-top: 43px;
  }

  .add-plan__drop-menu {
    display: none;
    top: 517px;
    left: 43px;
    width: 575px;
    border: none;
    border-radius: 0 0 10px 10px;
  }

  .add-plan__drop-menu--opened {
    display: flex;
  }

  .add-plan__letters {
    width: 260px;
    height: 350px;
    border-top: 1px solid #cbced9;
    border-left: 1px solid #cbced9;
    margin-top: 34px;
    margin-left: 27px;
  }

  .add-plan__letter {
    width: 52px;
    height: 70px;
    font-size: 20px;
    letter-spacing: 2px;
    border-right: 1px solid #cbced9;
    border-bottom: 1px solid #cbced9;

    &--active {
      color: @white;
      background-color: #1d2e5b;
    }
  }

  .add-plan__letter:nth-child(5n) {
    border-right: 1px solid #cbced9;
  }

  .add-plan__letter:nth-child(5n+2),
  .add-plan__letter:nth-child(5n-1) {
    width: 52px;
  }

  .add-plan__list-country {
    border-left: 1px solid rgba(203, 206, 217, 0.5);
    margin-top: 0;
    margin-left: 79px;
    padding-top: 30px;
    padding-left: 25px;
  }

  .add-plan__country {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .add-plan {
    border-radius: 60px 60px 0 0;
    padding-bottom: 62px;
  }

  .add-plan__centr-wrapper {
    width: @desktop-width;
  }

  .add-plan__title {
    margin-left: 130px;
  }

  .add-plan__dots {
    display: none;
  }

  .add-plan__wrapper {
    width: 1320px;
    border-radius: 60px;
    margin-left: 60px;
    margin-bottom: 54px;
    padding-bottom: 105px;
  }

  .add-plan__wrapper:nth-child(2) {
    padding-bottom: 105px;
  }

  .add-plan__break {
    display: none;
  }

  .add-plan__flex-wrapper {
    display: flex;
  }

  .add-plan__plans-list {
    display: block;
    margin-top: 108px;
    margin-left: 239px;
  }

  .add-plan__plans-item {
    display: flex;
    align-items: center;
    margin-bottom: 27px;

    &::before {
      content: "";
      display: block;
      width: 6px;
      height: 5px;
      background-color: #808285;
      border-radius: 50%;
      margin-right: 36px;
    }
  }

  .add-plan__plans-active::before {
    background-color: #1d2e5b;
  }

  .add-plan__plans-anchor {
    font-family: @font, @font-secondary;
    font-size: 20px;
    line-height: 13.8px;
    letter-spacing: 2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
  }

  .add-plan__plans-anchor--active {
    color: #000000;
  }

  .add-plan__description-text {
    width: 577px;
    margin-top: -1px;
  }

  .add-plan__text {
    margin-left: 160px;
  }

  .add-plan__text--bold {
    padding-top: 95px;
    margin-top: 0;
  }

  .add-plan__conditions-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    width: 1000px;
    margin-top: 36px;
    padding-top: 30px;
    margin-left: 161px;
    border-top: 1px solid #d6d9e6;
  }

  .add-plan__conditions-label {
    width: 219px;
    border: none;
    padding-top: 0;
    margin: 0;
    margin-top: -2px;
  }

  .add-plan__conditions {
    width: 181px;
    margin: 0;
    margin-right: 355px;
  }

  .add-plan__conditions--order {
    margin-top: 14px;
    order: 5;
  }

  .add-plan__conditions-label--order {
    order: 4;
    margin-top: 12px;
  }

  .add-plan__children-label {
    width: 245px;
    order: 3;
    margin: 0;
  }

  .add-plan__conditions-label--opacity {
    position: absolute;
    left: 436px;
    color: #1d2e5b;
  }

  .add-plan__quantity {
    top: 55px;
    left: 239px;
  }

  .add-plan__quantity--plus {
    left: 360px;
  }

  .add-plan__duration-quantity {
    top: 139px;
  }

  .add-plan__button {
    margin-top: 56px;
    margin-left: 160px;
  }

  .add-plan__country-wrapper,
  .add-plan__choose-wrapper {
    width: 997px;
    margin-left: 160px;
  }

  .add-plan__wrapper:nth-child(3)::before {
    top: 271px;
    left: 160px;
    width: 997px;
  }

  .add-plan__wrapper:nth-child(3) .add-plan__description-text {
    margin-top: 0;
    margin-bottom: 119px;
  }

  .add-plan__country-select {
    width: 730px;
  }

  .add-plan__add-country {
    width: 730px;
    margin-left: 160px;
  }

  .add-plan__choose-country {
    width: 730px;
    margin: 0;
  }

  .add-plan__flag {
    margin-left: 20px;
  }

  .add-plan__country-wrapper:nth-child(2)::after {
    top: 270px;
    left: 934px;
    height: 510px;
  }

  .add-plan__select-cover {
    top: 351px;
    left: 825px;
  }

  .add-plan__czech-cover {
    top: 436px;
  }

  .add-plan__circle {
    top: 360px;
    right: 378px;
  }

  .add-plan__circle--czech {
    top: 444px;
  }

  .add-plan__circle--choose {
    top: 530px;
  }

  .add-plan__circle--add {
    top: 615px;
  }

  .add-plan__back-button {
    margin-left: 533px;
  }

  .add-plan__wrapper:nth-child(4)::after {
    position: absolute;
    top: 271px;
    left: 160px;
    content: "";
    display: block;
    width: 997px;
    height: 1px;
    background-color: #d6d9e6;
  }

  .add-plan__textarea {
    width: 730px;
    margin-left: 160px;
    padding-left: 19px;
    padding-top: 22px;
    padding-right: 0;
  }

  .add-plan__wrapper:nth-child(4)::before {
    top: 360px;
    left: 935px;
    display: block;
    border: none;
    width: 3px;
    height: 261px;
    background-color: #1d2e5b;
  }

  .add-plan__textarea-wrapper {
    margin-top: 108px;
  }

  .add-plan__title-text {
    width: 885px;
    margin-left: 160px;

    &::before {
      margin-left: 447px;
    }
  }

  .add-plan__title-czech::before {
    margin-left: 667px;
  }

  .add-plan__drop-menu {
    top: 575px;
    left: 160px;
    width: 730px;
  }

  .add-plan__letters {
    align-content: space-between;
    width: 360px;
    height: 410px;
    border: none;
  }

  .add-plan__letter {
    width: 60px;
    border-radius: 4px;
    border: 1px solid #cbced9;
    margin-right: 15px;
  }

  .add-plan__letter:nth-child(5n) {
    border: 1px solid #cbced9;
    margin: 0;
  }

  .add-plan__letter:nth-child(5n+2),
  .add-plan__letter:nth-child(5n-1) {
    width: 60px;
  }

  .add-plan__list-country {
    margin-left: 102px;
  }
}
