.adding-profile {
  position: relative;
  top: -120px;
  z-index: 2;
  border-radius: 0 0 30px 30px;
  background-color: @grey;
}

.adding-profile__wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: @mobile-width;
  min-height: 491px;
  padding-top: 58px;
  background-image: url("../img/rates@1x.png");
  background-repeat: no-repeat;
  background-size: 99px 99px;
  background-position: 195px 75px;
  margin: 0 auto;

  @media (min-resolution: @retina) {
    background-image: url("../img/rates@2x.png");
  }
}

.adding-profile__title {
  width: 101px;
  font-family: @font;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: #ff8d30;
  margin: 0;
  margin-left: 50px;
  margin-top: 35px;
}

.adding-profile__list {
  position: relative;
  margin-top: 40px;
}

.adding-profile__list-item {
  width: 200px;
  margin-left: 50px;
  padding: 10px 0;
  border-top: 1px solid rgba(68, 68, 68, 0.05);
}

.adding-profile__list-item:nth-child(3) {
  border-bottom: 1px solid rgba(68, 68, 68, 0.05);
}

.adding-profile__list-item:last-child {
  width: 219px;
  border: 0;
  margin-top: 22px;
}

.adding-profile__list-item::after {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 34px;
  height: 34px;
  padding-top: 12px;
  border-radius: 50%;
  font-family: @font, @font-secondary;
  font-size: 16px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  color: @white;
}

.adding-profile__list-item:nth-child(1)::after {
  top: 3px;
  right: 26px;
  content: "1";
  background-color: @orange;
}

.adding-profile__list-item:nth-child(2)::after {
  top: 70px;
  right: 26px;
  content: "2";
  background-color: @dark-yellow;
}

.adding-profile__list-item:nth-child(3)::after {
  top: 135px;
  right: 26px;
  content: "3";
  background-color: @yellow;
}

.adding-profile__anchor {
  font-family: @font, @font-secondary;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-align: left;
  color: @page-color;

  &:hover,
  &:focus {
    color: rgba(19, 37, 118, 0.7);
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);
  }
}

.adding-profile__text {
  margin: 0;
  font-family: @font, @font-secondary;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #444444;
}

.adding-profile__busines {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 443px;
  background-color: @white;
  border-radius: 20px;
  z-index: 100;
}

.adding-profile__busines--show {
  display: block;
}

.adding-profile__busines-title {
  width: 167px;
  padding-top: 0;
  margin-top: 31px;
}

.adding-profile__busines-list {
  margin-top: 30px;
  margin-left: 25px;
}

.adding-profile__busines-text {
  padding-top: 11px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

.adding-profile__busines-text:last-child {
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.adding-profile__close {
  font-family: @font, @font-secondary;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #1d2e5b;
  text-transform: uppercase;
  border: none;
  padding: 0;
  width: 270px;
  height: 59px;
  background-color: #f3f4f8;
  border-radius: 0 0 20px 20px;
  margin-top: 23px;

  &:hover,
  &:focus {
    background-color: #edeff6;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .adding-profile {
    min-height: 578px;
    top: -160px;
    border-radius: 0 0 60px 60px;
  }

  .adding-profile__wrapper {
    width: @tablet-width;
    min-height: 578px;
    background-image: none;
    padding-bottom: 58px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 198px;
      height: 285px;
      background-color: #e2e5f2;
      border-radius: 20px;
      top: 230px;
      left: 530px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 99px;
      height: 99px;
      background-image: url("../img/rates@1x.png");
      background-repeat: no-repeat;
      background-size: 99px 99px;
      top: 490px;
      left: 582px;

      @media (min-resolution: @retina) {
        background-image: url("../img/rates@2x.png");
      }
    }
  }

  .adding-profile__title {
    width: 490px;
    margin-left: 145px;
    margin-top: 93px;
    font-size: 45px;
    line-height: 45px;
  }

  .adding-profile__text {
    font-size: 28px;
    line-height: 33px;
  }

  .adding-profile__list {
    width: 100%;
    margin-top: 74px;
  }

  .adding-profile__list-item {
    display: flex;
    justify-content: space-between;
    width: 562px;
    padding: 16px 0;
    margin-left: 131px;
  }

  .adding-profile__list-item:last-child {
    width: 300px;
    border: 0;
    margin-top: 37px;
  }

  .adding-profile__anchor {
    font-size: 20px;
    line-height: 20px;
    color: #132576;
    margin-top: 6px;
  }

  .adding-profile__list-item:last-child::before {
    position: absolute;
    content: "";
    display: block;
    width: 67px;
    height: 67px;
    background-color: #e2e5f2;
    border-radius: 50%;
    left: 39px;
    top: 234px;
    background-image: url("../img/business.svg");
    background-repeat: no-repeat;
    background-size: 17px 21px;
    background-position: center 22px;
  }

  .adding-profile__list-item:last-child:hover::before,
  .adding-profile__list-item:last-child:focus::before {
    background-image: url("../img/business-hover.svg");
  }

  .adding-profile__list-item:last-child:active::before {
    background-image: url("../img/business-active.svg");
  }

  .adding-profile__list-item::after {
    width: 67px;
    height: 67px;
    font-size: 28px;
    line-height: 28px;
    padding-top: 22px;
  }

  .adding-profile__list-item:nth-child(1)::after {
    top: 0;
    left: 39px;
  }

  .adding-profile__list-item:nth-child(2)::after {
    top: 67px;
    left: 39px;
  }

  .adding-profile__list-item:nth-child(3)::after {
    top: 134px;
    left: 39px;
  }

  .adding-profile__busines {
    width: 688px;
    height: 526px;
    border-radius: 30px;
  }

  .adding-profile__busines-title {
    width: 315px;
    margin-top: 47px;
    margin-left: 192px;
  }

  .adding-profile__busines-list {
    margin-top: 50px;
    margin-left: 92px;
    margin-right: 91px;
  }

  .adding-profile__busines-text {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 28px;
    padding-top: 12px;
    margin-bottom: 15px;
  }

  .adding-profile__busines-text:last-child {
    padding-bottom: 15px;
  }

  .adding-profile__close {
    font-size: 24px;
    text-transform: none;
    width: 688px;
    height: 108px;
    border-radius: 0 0 30px 30px;
    margin-top: 36px;
  }

  .adding-profile__break {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .adding-profile__wrapper {
    width: @desktop-width;
    min-height: 780px;

    &::before {
      width: 444px;
      height: 300px;
      top: 307px;
      left: 730px;
    }

    &::after {
      width: 198px;
      height: 198px;
      background-size: 198px 198px;
      top: 357px;
      left: 1082px;
    }
  }

  .adding-profile__title {
    margin: 0 auto;
    margin-top: 120px;
  }

  .adding-profile__list {
    margin-top: 134px;
    margin-left: 81px;
  }

  .adding-profile__list-item {
    width: 813px;
  }

  .adding-profile__busines {
    width: 750px;
  }

  .adding-profile__busines-title {
    margin-top: 47px;
    margin-left: 223px;
  }

  .adding-profile__busines-list {
    margin-top: 50px;
    margin-left: 59px;
    margin-right: 59px;
  }

  .adding-profile__close {
    width: 750px;
  }
}
