.catalog-companions__card {
  width: 270px;
  min-height: 415px;
  margin: 10px 25px;
  background-color: @white;
  border-radius: 20px;
}

.catalog-companions__wrapper {
  display: flex;
}

.catalog-companions__image {
  border-radius: 50%;
  margin-left: 18px;
  margin-top: 15px;
}

.catalog-companions__text {
  font-family: @font, @font-secondary;
  text-align: left;
  margin: 0;
}

.catalog-companions__username {
  width: 78px;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #1d2e5b;
}

.catalog-companions__distance {
  margin-top: 10px;
  margin-left: 17px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #161c35;
}

.catalog-companions__tags {
  margin-top: 16px;
  margin-left: 26px;
  width: 168px;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.catalog-companions__subtitle {
  margin-top: 20px;
  margin-left: 26px;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.catalog-companions__list {
  margin-top: 15px;
  margin-left: 25px;
}

.catalog-companions__list-item {
  font-family: @font, @font-secondary;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #1d2e5b;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .catalog-companions__card {
    width: 688px;
    min-height: 332px;
  }

  .catalog-companions__username {
    width: 187px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-companions {
    order: 1;
  }
}
