.catalog-companions__card {
  position: relative;
  width: 270px;
  min-height: 415px;
  margin: 10px 25px;
  background-color: @white;
  border-radius: 20px;
}

.catalog-companions__wrapper {
  display: flex;
}

.catalog-companions__image {
  border-radius: 50%;
  margin-left: 18px;
  margin-top: 15px;
}

.catalog-companions__text {
  font-family: @font, @font-secondary;
  text-align: left;
  margin: 0;
}

.catalog-companions__username {
  width: 78px;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #1d2e5b;
}

.catalog-companions__distance {
  margin-top: 10px;
  margin-left: 17px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #161c35;
}

.catalog-companions__tags {
  margin-top: 50px;
  margin-left: -60px;
  width: 168px;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.catalog-companions__subtitle {
  margin-top: 20px;
  margin-left: 26px;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.catalog-companions__list {
  margin-top: 15px;
  margin-left: 25px;
}

.catalog-companions__list-item {
  font-family: @font, @font-secondary;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #1d2e5b;
  text-transform: uppercase;
}

.catalog-companions__attributes-wrapper {
  display: flex;
}

.catalog-companions__level {
  margin-left: 26px;
  border: 3px solid #ff8d30;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  &::before {
    content: "99";
    display: block;
    font-family: @font, @font-secondary;
    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: @dark-blue;
    margin-top: 15px;
  }
}

.catalog-companions__heart {
  width: 31px;
  height: 31px;
  background-color: #f9eaea;
  border-radius: 50%;
  background-image: url("../img/heart-active.svg");
  background-repeat: no-repeat;
  background-size: 13px 11px;
  background-position: 9px 10px;
}

.catalog-companions__heart-wrapper {
  display: flex;
  position: absolute;
  top: 55px;
  left: 65px;
}

@media (min-width: @tablet-width) {
  .catalog-companions__card {
    display: flex;
    flex-wrap: wrap;
    width: 688px;
    min-height: 332px;
  }

  .catalog-companions__username {
    width: 187px;
  }

  .catalog-companions__attributes-wrapper {
    flex-direction: column;
    margin-left: 150px;
  }

  .catalog-companions__button {
    position: absolute;
    top: 160px;
    left: 180px;
  }

  .catalog-companions__text-wrapper {
    margin-left: 80px;
  }

  .catalog-companions__tags {
    margin-left: 26px;
  }

  .catalog-companions__heart-wrapper {
    top: 155px;
    left: 260px;
  }

  .catalog-companions__subtitle-hidden {
    display: none;
  }

  .catalog-companions__wishes-wrapper {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .catalog-companions__card {
    width: 950px;
  }

  .catalog-companions__attributes-wrapper {
    order: 4;
    margin-left: 360px;
    margin-top: -100px;
    flex-direction: row;
  }
}
