.catalog-main {
  position: relative;
  width: @mobile-width;
  background-color: @grey;
}

.catalog-main__title {
  box-sizing: border-box;
  height: 70px;
  font-family: @font;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  text-align: left;
  color: @white;
  margin: 0;
  padding-top: 20px;
  padding-left: 27px;
  border-radius: 0 0 20px 20px;
  background-color: @dark-blue;

  &::after {
    content: "";
    display: block;
    width: 173px;
    height: 5px;
    background-color: @dark-orange;
    border-radius: 2.4px;
    margin-top: 5px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-main {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__wrapper {
    display: flex;
  }

  .catalog-main__form {
    order: 1;
  }
}
