.catalog-main {
  background-color: @grey;
}

.catalog-main__bg-wrapper {
  position: relative;
  border-radius: 0 0 20px 20px;
  background-color: @dark-blue;
}

.catalog-main__title {
  position: relative;
  box-sizing: border-box;
  width: @mobile-width;
  height: 70px;
  font-family: @font, @font-secondary;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  text-align: left;
  color: @white;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 27px;

  &::after {
    content: "";
    display: block;
    width: 173px;
    height: 5px;
    background-color: @dark-orange;
    border-radius: 2.4px;
    margin-top: 7px;
  }
}

.catalog-main__form {
  width: 270px;
  min-height: 504px;
  height: 100%;
  background-color: @yellow;
  border-radius: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
  padding-bottom: 22px;
}

.catalog-main__text {
  width: 118px;
  font-family: @font, @font-secondary;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 22.5px;
  text-align: left;
  color: #1d2e5b;
  padding-top: 23px;
  padding-left: 26px;
}

.catalog-main__submit {
  box-sizing: border-box;
  width: 230px;
  height: 40px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: @dark-blue;
  border: none;
  padding: 0;
  padding-left: 76px;
  background-color: @white;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 21px;

  &::after {
    display: none;
  }
}

.catalog-main__back {
  display: none;
}

@media (min-width: @tablet-width) {
  .catalog-main {
    width: 100%;
  }

  .catalog-main__title {
    height: 219px;
    font-size: 60px;
    line-height: 70px;
    padding-top: 83px;
    padding-left: 77px;
    border-radius: 0 0 60px 60px;

    &::after {
      width: 287px;
      height: 8px;
      border-radius: 4px;
      margin-top: 62px;
    }
  }

  .catalog-main__form {
    width: 688px;
    min-height: 530px;
    margin-left: 40px;

    &::after {
      content: "";
      display: block;
      width: 618px;
      height: 1px;
      background-color: #f3c72b;
      margin-top: -86px;
      margin-left: 35px;
    }
  }

  .catalog-main__text {
    width: 618px;
    font-size: 30px;
    line-height: 30px;
    padding-top: 34px;
    padding-left: 0;
    padding-bottom: 37px;
    margin-left: 33px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f3c72b;
  }

  .catalog-main__back {
    position: absolute;
    top: 110px;
    left: 517px;
    display: block;
    width: 176px;
    font-family: @font, @font-secondary;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    color: @white;
    text-transform: uppercase;
    background-image: url("../img/return.svg");
    background-repeat: no-repeat;
    background-size: 32px 16px;
    background-position: right center;
  }

  .catalog-main__submit {
    width: 618px;
    height: 50px;
    font-size: 20px;
    padding-left: 262px;
    margin-left: 35px;
    margin-top: 65px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__wrapper {
    display: flex;
  }

  .catalog-main__title {
    padding-top: 82px;
    padding-left: 129px;

    &::after {
      margin-top: 63px;
    }
  }

  .catalog-main__form {
    width: 285px;
    order: 1;
    margin-top: 77px;
    padding-bottom: 47px;

    &::after {
      display: none;
    }
  }

  .catalog-main__text {
    width: 156px;
    padding: 0;
    margin-top: 48px;
    margin-left: 48px;
    padding-bottom: 10px;
    border: none;
  }

  .catalog-main__submit {
    width: 196px;
    padding-left: 51px;
    margin-left: 48px;
    margin-top: 38px;
  }

  .catalog-main__back {
    top: 110px;
    left: 1141px;
  }
}
