.companions {
  position: relative;
  top: -80px;
  min-height: 1370px;
  background-color: @page-color;
  border-radius: 0 0 30px 30px;
  z-index: 3;
}

.companions__wrapper {
  display: flex;
  flex-direction: column;
  width: @mobile-width;
  margin: 0 auto;
  margin-top: 40px;
  background-image:
    url("../img/rogovaya-back-mobile@1x.png"),
    url("../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat;
  background-position:
    -10px 358px,
    152px 80px;

  &::before {
    position: absolute;
    top: 80px;
    content: "";
    width: 113px;
    height: 132px;
    background-color: #141b3b;
    border-radius: 10px;
    z-index: -1;
  }

  @media (min-resolution: @retina) {
    background-image:
      url("../img/rogovaya-back-mobile@2x.png"),
      url("../img/smolov-back-desktop@2x.png");
    background-size:
      71px 71px,
      143px 143px;
  }
}

.companions__cards {
  margin: 0 25px;
  margin-top: 35px;
}

.companions__card {
  position: relative;
  margin-bottom: 10px;

  &:hover {
    box-shadow: 0px 6px 21px 0 rgba(0, 0, 0, 0.08);
  }
}

.companions__card-level {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 16px;
  left: 17px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../img/statusbar99.png");
  background-size:  auto;
  background-position: -14px -8px;
  z-index: 100;
}

.companions__card-number {
  font-family: @font, @font-secondary;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: @white;
  margin: 0;
  margin-top: 12px;
}

.companions__card-caption {
  width: 31px;
  font-family: @font, @font-secondary;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @white;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;
  margin-left: 14px;
  padding-top: 2px;
}

.companions__text-wrapper {
  margin-left: 50px;
  margin-top: 95px;
}

.companions__title {
  font-family: @font;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @dark-orange;
}

.companions__text {
  width: 215px;
  font-family: @font;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: @white;
}

.companions__text--bold {
  font-weight: bold;
}

.companions__card-image {
  border-radius: 10px 10px 0 0;
}

.companions__card-wrapper {
  position: relative;
  width: 270px;
  height: 147px;
  background-color: @white;
  padding-top: 10px;
  margin-top: -4px;
  border-radius: 0 0 10px 10px;
}

.companions__card-text {
  width: 180px;
  font-family: @font;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #444444;
  margin: 15px 47px;
}

.companions__card-text--bold {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #1d2e5b;

  &::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 53px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f97676;
  }
}

.companions__card-text--demin::before {
  left: 63px;
  background-color: #81e31e;
}

.companions__list {
  margin-top: 17px;
  margin-left: 75px;
}

.companions__list-item {
  background-color: @white;
  border-radius: 0;
  background-position: center;
}

.companions__list-item:first-child {
  background-image: url("../img/plane.svg");
  background-size: 19px 21px;
}

.companions__list-item:nth-child(2) {
  background-image: url("../img/bus.svg");
  background-size: 17px 21px;
}

.companions__list-item:nth-child(3) {
  background-image: url("../img/bike.svg");
  background-size: 24px 21px;
}

.companions__list-item:nth-child(4) {
  background-image: url("../img/run.svg");
  background-size: 20px 21px;
}

.companions__button {
  margin: 10px 7.8%;
}

@media (min-width: @tablet-width) {
  .companions {
    border-radius: 0 0 60px 60px;
  }

  .companions__wrapper {
    width: @tablet-width;
    background-image:
      url("../img/rogovaya-back-desktop@1x.png"),
      url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position:
      400px 120px,
      40px 500px;

    &::before {
      top: 120px;
      left: 40px;
      width: 213px;
      height: 213px;
      border-radius: 20px;
    }

    @media (min-resolution: @retina) {
      background-image:
        url("../img/rogovaya-back-desktop@2x.png"),
        url("../img/smolov-back-desktop@2x.png");
      background-size:
        285px 285px,
        143px 143px;
    }
  }

  .companions__cards {
    width: 618px;
    display: flex;
    margin-left: 75px;
    margin-top: 60px;
  }

  .companions__card {
    margin-right: 48px;
  }

  .companions__card-wrapper {
    box-sizing: border-box;
    width: 285px;
    min-height: 198px;
    border-radius: 0 0 20px 20px;
  }

  .companions__card-image {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0 0;
  }

  .companions__card-text {
    width: 225px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 21px;
  }

  .companions__card-text--bold {
    font-size: 24px;
    line-height: 24px;
    margin-top: 19px;

    &::before {
      top: 39px;
      left: 46px;
      width: 7px;
      height: 7px;
    }
  }

  .companions__card-text--demin::before {
    left: 56px;
  }

  .companions__list {
    flex-direction: row;
    margin-top: 20px;
    margin-left: 75px;
  }

  .companions__text-wrapper {
    width: 618px;
    margin-left: 75px;
    margin-top: 150px;
  }

  .companions__title {
    font-size: 45px;
    line-height: 45px;
  }

  .companions__text {
    width: 425px;
    font-size: 28px;
    line-height: 33px;
    margin-top: 50px;
  }

  .companions__text--bold {
    font-size: 21px;
    line-height: 25px;
    margin-top: 35px;
  }

  .companions__button {
    margin-top: 80px;
    margin-left: 75px;
    font-size: 24px;
    line-height: 24px;
    width: 550px;
    height: 19px;
    padding: 31px 34px;
    border-radius: 20px;
  }
}

@media (min-width: @desktop-width) {
  .companions {
    min-height: 840px;
  }

  .companions__wrapper {
    width: @desktop-width;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-position:
      191px 475px,
      547px 180px;
  }

  .companions__button {
    margin-top: -78px;
    width: 218px;
  }

  .companions__cards {
    margin: 0;
    margin-top: 180px;
  }

  .companions__card {
    margin-right: 60px;
  }

  .companions__text-wrapper {
    margin-left: 105px;
  }
}
