.directions {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  min-height: 950px;
  background-color: @grey;
  border-radius: 0 0 30px 30px;
  padding-top: 72px;
  z-index: -3;
}

.directions_card-wrapper {
  margin-top: 45px;
}

.directions_text-wrapper {
  margin-left: 51px;
}

.directions__title {
  font-family: @font;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @dark-orange;
}

.directions__text {
  width: 195px;
  font-family: @font;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #444444;
}

.directions__button {
  margin-left: 25px;
  margin-top: 15px;
}

@media (min-width: @tablet-width) {
  .directions {
    min-height: 1030px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 440px 110px;
    border-radius: 0 0 60px 60px;
  }

  .directions_card-wrapper {
    position: relative;
    margin-left: 50px;
    margin-top: 65px;

    &::before {
      content: "";
      position: absolute;
      top: -30px;
      left: -10px;
      display: block;
      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: #e2e5f2;
      z-index: -1;
    }
  }

  .directions__button {
    font-size: 24px;
    line-height: 24px;
    top: 945px;
    left: 9.7%;
    width: 570px;
    height: 26px;
    padding-top: 31px;
    border-radius: 20px;
    margin-left: 75px;
    margin-top: 47px;
  }

  .directions_text-wrapper {
    margin-left: 75px;
  }

  .directions__title {
    font-size: 45px;
    line-height: 45px;
  }

  .directions__text {
    width: 340px;
    font-size: 28px;
    line-height: 33px;
    margin-top: 55px;
  }
}

@media (min-width: @desktop-width) {
  .directions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 705px;
    align-content: flex-start;
    background-position: 1100px 110px;
  }

  .directions__button {
    box-sizing: border-box;
    width: 274px;
    height: 81px;
    position: static;
    bottom: 0;
    order: 3;
    margin: 0;
    margin-left: 870px;
    margin-top: -80px;
  }

  .directions_card-wrapper {
    margin-left: 120px;
    margin-top: 110px;

    &::before {
      top: -72px;
      left: -45px;
    }
  }

  .directions_text-wrapper {
    margin-top: 80px;
    margin-left: 145px;
    order: 2;
    align-self: flex-start;
  }
}
