.directions {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  min-height: 950px;
  background-color: @grey;
  border-radius: 0 0 30px 30px;
  padding-top: 72px;
  z-index: -3;
}

.directions_card-wrapper {
  margin-top: 45px;
}

.directions__title {
  font-family: @font;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @dark-orange;
  margin-left: 51px;
}

.directions__text {
  width: 195px;
  font-family: @font;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #444444;
  margin-left: 51px;
}

.directions__button {
  position: absolute;
  bottom: 30px;
  left: 25px;
}

@media (min-width: @tablet-width) {
  .directions {
    wisth: 653px;
    min-height: 1397px;
  }

  .directions_card-wrapper {
    margin: 0 auto;
  }

  .directions__button {
    top: 640px;
    left: 205px;
  }
}

@media (min-width: @desktop-width) {
  .directions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    wisth: 1320px;
    min-height: 840px;
  }

  .directions__button {
    position: static;
    bottom: 0;
  }
}
