.directions {
  position: relative;
  margin-top: -50px;
  background-color: @grey;
  border-radius: 0 0 30px 30px;
  padding-top: 102px;
  z-index: 4;
}

.directions__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 938px;
  width: @mobile-width;
  margin: 0 auto;
}

.directions_card-wrapper {
  margin-top: 50px;
}

.directions_text-wrapper {
  margin-left: 50px;
}

.directions__title {
  font-family: @font;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  color: @dark-orange;
  margin-top: 18px;
  margin-left: 1px;
}

.directions__text {
  width: 195px;
  font-family: @font;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #444444;
}

.directions__button {
  margin-left: 25px;
  margin-top: 15px;
}

@media (min-width: @tablet-width) {
  .directions {
    border-radius: 0 0 60px 60px;
  }

  .directions__wrapper {
    min-height: 1040px;
    width: @tablet-width;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 439px 28px;

    @media (min-resolution: @retina) {
      background-image: url("../img/flags-back@2x.png");
      background-size: 289px 575px;
    }
  }

  .directions_card-wrapper {
    position: relative;
    margin-left: 51px;
    margin-top: 68px;

    &::before {
      content: "";
      position: absolute;
      top: -28px;
      left: -11px;
      display: block;
      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: #e2e5f2;
      z-index: -1;
    }
  }

  .directions__button {
    box-sizing: border-box;
    font-size: 24px;
    line-height: 24px;
    top: 945px;
    left: 9.7%;
    width: 618px;
    height: 81px;
    padding-top: 28px;
    padding-left: 32px;
    padding-right: 34px;
    border-radius: 20px;
    margin-left: 75px;
    margin-top: 47px;
    box-shadow: 0 -30px 50px 60px #edeff6;
    z-index: 100;
  }

  .directions_text-wrapper {
    margin-left: 75px;
  }

  .directions__title {
    font-size: 45px;
    line-height: 45px;
    margin-left: -2px;
  }

  .directions__text {
    width: 340px;
    font-size: 28px;
    line-height: 33px;
    margin-top: 57px;
  }
}

@media (min-width: @desktop-width) {
  .directions {
    padding-top: 90px;
  }

  .directions__wrapper {
    min-height: 710px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: @desktop-width;
    background-position: 1091px 48px;
  }

  .directions__button {
    box-sizing: border-box;
    width: 274px;
    height: 81px;
    padding-top: 22px;
    padding-right: 36px;
    order: 3;
    box-shadow: none;
    margin: 0;
    margin-left: 864px;
    margin-top: -112px;
  }

  .directions_card-wrapper {
    margin-left: 108px;
    margin-top: 110px;

    &::before {
      top: -62px;
      left: -48px;
    }
  }

  .directions_text-wrapper {
    margin-top: 104px;
    margin-left: 146px;
    order: 2;
    align-self: flex-start;
  }

  .directions__title {
    margin-left: 1px;
  }
}
