.main-navigation__wrapper {
  padding-top: 50px;
  width: 320px;
  min-height: 445px;
  background-color: @white;
}

.main-navigation--nojs .main-navigation__wrapper,
.main-navigation--opened .main-navigation__wrapper {
  margin-top: 23px;
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--closed .main-navigation__toggle {
  position: absolute;
  right: 27px;
  top: 31px;
  border: 0;
  width: 25px;
  height: 11px;
  background-color: transparent;
  background-image: url("../img/menu.svg");
}

.main-navigation--closed .main-navigation__wrapper {
  display: none;
}

.main-navigation--nojs .main-navigation__wrapper {
  display: block;
}

.main-navigation--opened .main-navigation__toggle {
  position: absolute;
  right: 27px;
  top: 26px;
  border: 0;
  width: 19px;
  height: 19px;
  background-color: transparent;
  background-image: url("../img/close.svg");
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation__anchor {
  text-transform: uppercase;
  font-family: @font, @font-secondary;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: @dark-blue;
}

@media (min-width: @tablet-width) {
  .main-navigation {
    order: 2;
  }

  .main-navigation__wrapper {
    padding-top: 0;
    width: @tablet-width;
    min-height: 778px;
  }

  .main-navigation__list--hidden {
    display: none;
  }

  .main-navigation__list {
    align-items: flex-start;
    margin-left: 99px;
    padding-top: 59px;
  }

  .main-navigation__anchor {
    font-size: 60px;
    line-height: 71px;
    color: @page-color;
  }

  .main-navigation--nojs .main-navigation__wrapper,
  .main-navigation--opened .main-navigation__wrapper {
    margin-top: 42px;
  }

  .main-navigation--closed .main-navigation__toggle {
    top: 61px;
    left: 368px;
  }

  .main-navigation--opened .main-navigation__toggle {
    top: 58px;
    left: 372px;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation {
    display: flex;
  }

  .main-navigation .main-navigation__wrapper {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    min-height: 90px;
    z-index: 1;
    margin: 0;
    padding-top: 0;
  }

  .main-navigation__list {
    flex-direction: row;
    margin-left: 0;
    padding-top: 0;
    margin-top: 50px;
  }

  .main-navigation__list--hidden {
    display: flex;
  }

  .main-navigation__list--menu {
    width: 800px;

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      border-radius: 1px;
      background-color: @white;
      margin-top: 10px;
      margin-left: 40px;
      margin-right: 45px;
    }
  }

  .main-navigation__list-item {
    margin-right: 37px;
  }

  .main-navigation__anchor {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: @white;
  }

  .main-navigation__toggle {
    display: none;
  }
}
