.my-card__wrapper {
  display: flex;
  margin-left: 44px;
  margin-top: 20px;
}

.my-card__level {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 3px solid #ff8d30;
  border-radius: 50%;
}

.my-card__number {
  font-family: @font, @font-secondary;
  font-size: 38px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  color: @dark-blue;
  margin: 0;
  margin-top: 20px;
}

.my-card__caption {
  width: 49px;
  font-family: @font, @font-secondary;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #444444;
  margin: 0;
  margin-left: 25px;
  border-top: 2px solid #cbced9;
}

.my-card__photo {
  width: 99px;
  height: 100px;
  border-radius: 50%;
  margin-left: 35px;
}

.my-card__button {
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  font-size: 17px;
  line-height: 30px;
  color: @dark-blue;
  text-align: center;
  text-transform: uppercase;
  background-color: #dfe3f0;
  border: none;
  border-radius: 30px;
  padding: 0;
  padding-left: 75px;
  margin-left: 25px;
  margin-top: 20px;

  &::after {
    display: none;
  }
}

.my-card__text-wrapper {
  width: 270px;
  height: 89px;
  margin-top: 33px;
  margin-left: 25px;
  border: 1px solid #cbced9;
  border-radius: 10px;
}

.my-card__transport-wrapper {
  height: 63px;
  margin-top: 23px;
}

.my-card__text {
  width: 215px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin-left: 26px;
  margin-top: -3px;
}

.my-card__text--bald {
  width: 35px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: @dark-blue;
  text-transform: uppercase;
  padding-left: 17px;
  padding-right: 18px;
  margin-top: -8px;
  margin-left: 100px;
  background-color: #edeff6;
}

.my-card__transport-text {
  width: 82px;
  padding: 0 14px;
  margin-left: 80px;
}

.my-card__list {
  margin-left: 69px;
  margin-top: -10px;
}

.my-card__list-item {
  background-color: @white;
}
