.my-card__wrapper {
  display: flex;
  margin-left: 44px;
  margin-top: 20px;
}

.my-card__level {
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-image:
    linear-gradient(210deg, transparent 50%, #ff8d30 50%),
    linear-gradient(90deg, #edeff6 50%, #ff8d30 50%);
  border-radius: 50%;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 94px;
    width: 94px;
    background-color: #edeff6;
    border-radius: 50%;
  }
}

.my-card__number {
  position: absolute;
  left: 29px;
  font-family: @font, @font-secondary;
  font-size: 38px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  color: @dark-blue;
  margin: 0;
  margin-top: 20px;
  z-index: 1;
}

.my-card__caption {
  position: absolute;
  bottom: 20px;
  width: 49px;
  font-family: @font, @font-secondary;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #444444;
  margin: 0;
  margin-left: 25px;
  border-top: 2px solid #cbced9;
  z-index: 1;
}

.my-card__photo {
  width: 99px;
  height: 100px;
  border-radius: 50%;
  margin-left: 35px;
}

.my-card__button {
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  font-size: 17px;
  line-height: 30px;
  color: @dark-blue;
  text-align: center;
  text-transform: uppercase;
  background-color: #dfe3f0;
  border: none;
  border-radius: 30px;
  padding: 0;
  padding-left: 75px;
  margin-left: 25px;
  margin-top: 20px;

  &::after {
    display: none;
  }
}

.my-card__tags-wrapper {
  margin-top: 25px;
}


.my-card__tags-legend {
  padding-left: 17px;
  padding-right: 18px;
  margin-left: 100px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: @dark-blue;
  text-transform: uppercase;
}

.my-card__tags {
  box-sizing: border-box;
  width: 270px;
  height: 89px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #444444;
  resize: none;
  border: 1px solid #cbced9;
  border-radius: 10px;
  background-color: transparent;
  margin-top: -10px;
  margin-left: 25px;
  padding-left: 26px;
  padding-top: 21px;
}

.my-card__tags-label {
  position: relative;
  width: 35px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: @dark-blue;
  text-transform: uppercase;
  padding-left: 17px;
  padding-right: 18px;
  margin-left: 117px;
  background-color: #edeff6;
  z-index: 1;
}

.my-card__transport-fieldset {
  box-sizing: border-box;
  width: 270px;
  height: 72px;
  padding: 0;
  border-radius: 10px;
  border: solid 1px #cbced9;
  margin-left: 25px;
  margin-top: 13px;
}

.my-card__transport-title {
  font-family: @font, @font-secondary;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #1d2e5b;
  text-transform: uppercase;
  padding: 0 14px;
  margin-left: 80px;
}

.my-card__transport-wrapper {
  margin-left: 69px;
  margin-top: 5px;
}

.my-card__text {
  width: 215px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin-left: 26px;
  margin-top: -3px;
}

.my-card__text--bald {
  width: 35px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: @dark-blue;
  text-transform: uppercase;
  padding-left: 17px;
  padding-right: 18px;
  margin-top: -8px;
  margin-left: 100px;
  background-color: #edeff6;
}

.my-card__transport-text {
  width: 82px;
  padding: 0 14px;
  margin-left: 80px;
}

.my-card__list {
  margin-left: 69px;
  margin-top: -10px;
}

.my-card__list-item {
  background-color: @white;
}
