.page-footer {
  position: relative;
  margin-top: -40px;
  min-height: 239px;
  background-color: @white;
  border-radius: 30px 30px 0 0;
}

.page-footer__wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.page-footer__logo-image {
  margin-top: 38px;
  margin-left: 112px;
}

.page-footer__list {
  display: flex;
}

.page-footer__list--social {
  width: 135px;
  margin: 0 93px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.page-footer__anchor {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: @yellow;
  background-repeat: no-repeat;
}

.page-footer__anchor--fb {
  background-image: url("../img/facebook-blue.svg");
  background-size: 11px 21px;
  background-position: center 13px;
}

.page-footer__anchor--vk {
  background-image: url("../img/vk-blue.svg");
  background-size: 23px 12px;
  background-position: center 18px;
}

.page-footer__anchor--instagram {
  background-image: url("../img/instagram-blue.svg");
  background-size: 18px 18px;
  background-position: center 14px;
}

.page-footer__list--develop {
  margin: 0 25px;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.page-footer__text {
  font-family: @font, @font-secondary;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
    min-height: 154px;
    border-radius: 60px 60px 0 0;
  }

  .page-footer__wrapper {
    width: @tablet-width;
    min-height: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo-image {
    margin: 0;
    margin-left: 39px;
  }

  .page-footer__list--social {
    width: 180px;
    margin: 0;
  }

  .page-footer__anchor {
    width: 60px;
    height: 60px;
  }

  .page-footer__anchor--fb {
    background-size: 14px 28px;
    background-position: center 16px;
  }

  .page-footer__anchor--vk {
    background-size: 31px 16px;
    background-position: center 23px;
  }

  .page-footer__anchor--instagram {
    background-size: 24px 24px;
    background-position: center 18px;
  }

  .page-footer__list--develop {
    margin: 0;
    margin-right: 25px;
    align-items: center;
  }

  .page-footer__text {
    font-size: 20px;
    line-height: 24px;
    margin-right: 24px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: @desktop-width;
    min-height: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo-image {
    margin-left: 61px;
  }

  .page-footer__list--develop {
    margin-right: 59px;
  }
}
