.page-main {
  width: @mobile-width;
}

.page-main__wrapper {
  position: relative;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -93px;
}

.page-main__title {
  margin: 0 auto;
  width: 240px;
  font-family: @font;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: @white;
}

.page-main__image {
  margin-left: 79px;
  margin-top: 12px;
}

.page-main__list {
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 26px;
}

.page-main__tel,
.page-main__e-mail {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ff8d30;
  border-radius: 50%;
  background-image: url("../img/topmenu-phone.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__e-mail {
  background-color: #ffbd30;
  background-image: url("../img/topmenu-mail.svg");
}

.page-main__login {
  display: block;
  width: 189px;
  height: 33px;
  padding-top: 7px;
  background-color: #ffd74b;
  border-radius: 20px;
  font-family: @font, @font-secondary;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: @dark-blue;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .page-main__wrapper {
    min-height: 862px;
    background-color: @page-color;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: -350px bottom;
  }

  .page-main__title {
    width: 400px;
    font-size: 60px;
    line-height: 70px;
    margin-top: 38px;
  }

  .page-main__tel,
  .page-main__e-mail {
    display: none;
  }

  .page-main__login {
    position: absolute;
    top: -970px;
    left: 540px;
  }

  .page-main__image {
    margin-top: 30px;
    margin-left: 290px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 100%;
  }
}
