.page-header {
  position: relative;
  width: @mobile-width;
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @dark-blue;
  outline: 1px solid red;
}

.page-header__logo {
  margin-top: 27px;
  margin-left: 27px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 100%;
    height: 910px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid red;
    background-color: @page-color;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid red;
  }
}
