.page-footer {
  min-height: 239px;
  background-color: @white;
  border-radius: 20px;
}

.page-footer__logo-image {
  margin-top: 38px;
  margin-left: 112px;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__list--social {
  margin: 0 93px;
  margin-top: 41px;
}

.page-footer__list--develop {
  width: 320px;
  justify-content: space-between;
}
