.page-main {
  position: relative;
  width: 100%;
  z-index: 0;
  background-color: @page-color;
}

.page-main__bg-wrapper {
  background-color: @dark-blue;
}

.page-main__wrapper {
  width: @mobile-width;
  position: relative;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -93px;
  margin: 0 auto;

  @media (min-resolution: @retina) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
    background-size: 320px 569px;
  }
}

.page-main__title {
  margin: 0 auto;
  width: 240px;
  font-family: @font;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: @white;
}

.page-main__image {
  margin-left: 79px;
  margin-top: 12px;
}

.page-main__list {
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 26px;
}

.page-main__tel,
.page-main__e-mail {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ff8d30;
  border-radius: 50%;
  background-image: url("../img/topmenu-phone.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__e-mail {
  background-color: #ffbd30;
  background-image: url("../img/topmenu-mail.svg");
}

.page-main__login {
  display: block;
  width: 189px;
  height: 33px;
  padding-top: 7px;
  background-color: #ffd74b;
  border-radius: 20px;
  font-family: @font, @font-secondary;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: @dark-blue;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .page-main__bg-wrapper {
    background-color: @page-color;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: -350px bottom;

    @media (min-resolution: @retina) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
      background-size: 1479px 612px;
    }
  }

  .page-main__wrapper {
    width: @tablet-width;
    min-height: 862px;
    background-image: none;
    margin: 0 auto;
    outline: 1px solid red;
  }

  .page-main__title {
    width: 400px;
    font-size: 60px;
    line-height: 70px;
    margin-top: 38px;
  }

  .page-main__list {
    display: none;
  }

  .page-main__image {
    margin-top: 30px;
    margin-left: 290px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 100%;
  }

  .page-main__bg-wrapper {
    background-color: @dark-blue;
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: -160px -125px;
    border-radius: 0 0 60px 60px;
    z-index: 6;

    @media (min-resolution: @retina) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
      background-size: 1800px 750px;
    }
  }

  .page-main__wrapper {
    display: flex;
    width: @desktop-width;
    min-height: 610px;
  }

  .page-main__title {
    margin: 0;
    margin-top: 127px;
    margin-left: 130px;
  }

  .page-main__image {
    margin-top: -25px;
    margin-left: 75px;
    margin-right: 28%;
  }
}
