.registation {
  position: relative;
  min-height: 550px;
  background-color: @page-color;
  margin-top: -180px;
  z-index: -6;
  border-radius: 0 0 30px 30px;
}

.registation__title {
  font-family: @font, @font-secondary;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: @dark-orange;
  padding-top: 115px;
}

.registation__text-wrapper {
  margin-left: 50px;
}

.registation__text-wrapper--bottom {
  margin-top: 32px;
}

.registation__text {
  width: 220px;
  font-family: @font, @font-secondary;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: @white;
  margin: 0;
}

.registation__login {
  color: @yellow;
  text-decoration: underline;
}

.registation__form {
  display: flex;
  margin-top: 25px;
}

.registation__field {
  box-sizing: border-box;
  width: 220px;
  height: 62px;
  border-radius: 10px 0 0 10px;
  font-family: @font, @font-secondary;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  border: none;
  padding-left: 24px;
  margin-left: 25px;
}

.registation__field::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.registation__submit-text {
  display: none;
}

.registation__submit {
  border: none;
  box-sizing: border-box;
  width: 60px;
  height: 62px;
  margin-left: -10px;
}

.registation__list-text {
  color: @yellow;
}

.registation__list {
  margin-left: 25px;
  margin-top: 36px;
}
