.review {
  min-height: 255px;
  padding-top: 30px;
  background-color: @dark-blue;
}

.review__text {
  width: 148px;
  margin-left: 50px;
  font-family: @font;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: @white;
}

.review__text--bold {
  font-weight: bold;
  width: 155px;
}

@media (min-width: @tablet-width) {
  .review {
    position: absolute;
    top: 250px;
    background-color: transparent;
  }

  .review__text {
    width: 260px;
    font-size: 28px;
    line-height: 33px;
  }

  .review__text--bold {
    width: 237px;
    font-size: 21px;
    line-height: 25px;
  }
}
