.social-list {
  flex-direction: row;
  margin-top: 30px;
  margin-left: 110px;
}

.social-list__item {
  margin-right: 27px;
}

.social-list__fb {
  display: block;
  background-image: url("../img/facebook.svg");
  width: 11px;
  height: 21px;
}

.social-list__vk {
  display: block;
  background-image: url("../img/vk.svg");
  width: 23px;
  height: 12px;
}

.social-list__instagram {
  display: block;
  background-image: url("../img/instagram.svg");
  width: 18px;
  height: 18px;
}

@media (min-width: @tablet-width) {
  .social-list {
    margin-top: 60px;
  }

  .social-list__item {
    margin-right: 33px;
  }

  .social-list__fb {
    width: 14px;
    height: 28px;
    margin-right: 4px;
  }

  .social-list__vk {
    width: 31px;
    height: 16px;
    margin-top: 5px;
  }

  .social-list__instagram {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    display: none;
    width: 0;
  }
}
