.transport-list {
  display: flex;
}

.transport-list__item {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #edeff6;
  background-size: 14px 16px;
  background-repeat: no-repeat;
  background-position: 9px 8px;
}

.transport-list__item:first-child {
  background-image: url("../img/plane.svg");
}

.transport-list__item:nth-child(2) {
  background-image: url("../img/bus.svg");
}

.transport-list__item:nth-child(3) {
  background-image: url("../img/bike.svg");
  background-size: 19px 17px;
  background-position: 7px 7px;
}

.transport-list__item:nth-child(4) {
  background-image: url("../img/run.svg");
  background-size: 15px 17px;
}

.transport-list--firsova .transport-list__item:nth-child(2),
.transport-list--smolov .transport-list__item:nth-child(2) {
  background-image: url("../img/bus-opacity.svg");
}

.transport-list--firsova .transport-list__item:nth-child(3),
.transport-list--demin .transport-list__item:nth-child(3),
.transport-list--rogovaya .transport-list__item:nth-child(3) {
  background-image: url("../img/bike-opacity.svg");
}

.transport-list--firsova .transport-list__item:nth-child(4),
.transport-list--smolov .transport-list__item:nth-child(4),
.transport-list--rogovaya .transport-list__item:nth-child(4) {
  background-image: url("../img/run-opacity.svg");
}

.transport-list__tooltip {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 150px;
  height: 57px;
  background-color: #101d41;
  border-radius: 4px;
  z-index: 100;

  &::before {
    content: "";
    display: block;
    width: 11.8px;
    height: 11.8px;
    background-color: #101d41;
    transform: rotate(45deg);
    margin-top: -6px;
  }
}

.transport-list__tooltip--plane {
  left: 18px;
  width: 147px;

  &::before {
    margin-left: 66px;
  }
}

.transport-list__tooltip--bus {
  left: 41px;
  width: 171px;

  &::before {
    margin-left: 78px;
  }
}

.transport-list__tooltip--bike {
  left: 96px;
  width: 131px;

  &::before {
    margin-left: 58px;
  }
}

.transport-list__tooltip--run {
  left: 137px;
  width: 109px;

  &::before {
    margin-left: 47px;
  }
}

.transport-list__item:hover .transport-list__tooltip--plane {
  display: block;
}

.transport-list__item:hover .transport-list__tooltip--bus {
  display: block;
}

.transport-list__item:hover .transport-list__tooltip--bike {
  display: block;
}

.transport-list__item:hover .transport-list__tooltip--run {
  display: block;
}

.transport-list__tooltip-text {
  display: inline-block;
  font-family: @font, @font-secondary;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: @white;
  margin-left: 23px;
  margin-top: 9px;
}

@media (min-width: @tablet-width) {
  .transport-list {
    flex-direction: column;
  }

  .transport-list__tooltip {
    top: 180px;
  }
}

@media (min-width: @desktop-width) {
  .transport-list {
    flex-direction: row;
  }
}
