.user-list__login {
  display: block;
  width: 270px;
  height: 38px;
  border-radius: 100px;
  background-color: #ffd74b;
  font-family: @font, @font-secondary;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: @dark-blue;
  text-transform: uppercase;
  padding-top: 12px;
  margin-top: 52px;
  margin-bottom: 60px;
}
